@font-face {
    font-family: VT323;
    src: url(../fonts/VT323-Regular.woff);
}

body {
    margin: 0;
    font-family: VT323;
}

button {
    $highlight: #ebebeb;
    $shadow: #898989;

    appearance: none;
    font-family: VT323;
    font-size: 24px;
    padding: 6px 12px;
    color: #000;
    background-color: #cbcbcb;
    border-width: 2px;
    border-style: solid;
    border-top-color: $highlight;
    border-left-color: $highlight;
    border-bottom-color: $shadow;
    border-right-color: $shadow;
    outline: 2px solid #2e2e2e;
    text-shadow: -1px -1px rgba(0,0,0,0.5), 1px 1px rgba(255,255,255,0.5);

    &:active {
        border-top-color: $shadow;
        border-left-color: $shadow;
        border-bottom-color: $highlight;
        border-right-color: $highlight;
    }

    &:disabled {
        color:#cbcbcb;
    }
}

#buttonContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 0 10px;

    button img {
        width: 28px;
        height: auto;
        vertical-align: middle;
    }
}

#recordBotButton {
    font-size: 34px;
    line-height: 28px;

    &.recording {
        background-color: #9e3b3b;
        color: #ffffff;

        $highlight: #c65d5d;
        $shadow: #671e1e;

        border-top-color: $highlight;
        border-left-color: $highlight;
        border-bottom-color: $shadow;
        border-right-color: $shadow;

        &:active {
            border-top-color: $shadow;
            border-left-color: $shadow;
            border-bottom-color: $highlight;
            border-right-color: $highlight;
        }
    }
}